@media (min-width: 768px) {
	.entry-content h3.ls-shortcode-jobs__headline {
		margin-bottom: 50px;
	}
}

.ls-jobs-card {
	align-items: center;
	background-color: var(--color-grey_lightest);
	border: 1px solid var(--color-grey_lightest);
	box-shadow: 0 4px 20px rgba(137, 137, 137, 0.2);
	display: flex;
	gap: 20px;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.ls-jobs-card a {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 50px 40px;
	width: 100%;
}

@media (max-width: 768px) {
	.ls-jobs-card a {
		flex-direction: column;
		align-items: start;
		padding: 20px 30px;
	}
}

.ls-job-card-lab-solutions:hover {
	border: 1px solid var(--color-iwg_category_blue);
}

.ls-job-card-chemicals:hover {
	border: 1px solid var(--color-grey_medium);
}

.ls-job-card-plating-service:hover {
	border: 1px solid var(--color-iwg_category_red);
}

.ls-jobs-card__category-icon {
	text-align: center;
	flex: 1;
}

.ls-jobs-card__readmore {
	flex: 1;
	text-align: center;
	font-weight: 400;
}

@media (max-width: 768px) {
	.ls-jobs-card__category-icon,
	.ls-jobs-card__readmore {
		text-align: left;
	}
}

.ls-jobs-card__category-icon i {
	font-size: var(--font-size-xxl);
}

.ls-jobs-card__content {
	flex: 3;
	max-width: 550px;
}

.ls-jobs-card__info {
	display: flex;
	gap: 10px;
	align-items: baseline;
}

.entry-content .ls-jobs-card__category,
.entry-content .ls-jobs-card__info p {
	margin-top: 0;
	margin-bottom: 0;
}

.ls-jobs-card__destination:before {
	content: "\13a2";
	color: var(--color-grey_medium);
	display: inline-block;
	font-family: icons, sans-serif;
	font-size: var(--font-size-md);
	margin-right: 5px;
	transform: translate(0, 3px);
}

.ls-jobs-card__readmore:after {
	content: "\138b";
	font-family: icons, sans-serif;
	font-size: 28px;
	transform: translate(7px, 7px);
	display: inline-block;
	transition: all 0.2s ease-in;
}

.ls-jobs-card a:hover .ls-jobs-card__readmore {
	text-decoration: underline;
}

.ls-jobs-card a:hover .ls-jobs-card__readmore:after {
	transform: translate(10px, 7px);
}

.ls-jobs-card__category-icon .icon-chemicals {
	color: var(--color-grey_medium);
}

.ls-jobs-card__category-icon .icon-lohngalvanik {
	color: var(--color-iwg_category_red);
}

.ls-jobs-card__category-icon .icon-lab {
	color: var(--color-iwg_category_blue);
}
