/*Slider Container*/
.wp-block-ls-slider {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
}

@media (max-width: 768px) {
	.wp-block-ls-slider {
		padding: 0 10px;
	}
}

.wp-block-ls-slider .swiper-wrapper {
	align-items: center;
}

.wp-block-ls-slider.has-dots .swiper-wrapper {
	margin-bottom: 60px;
}

.wp-block-group.alignfull .wp-block-ls-slider {
	max-width: none !important;
	padding: 0 6.67em;
}

@media (max-width: 1200px) {
	.wp-block-group.alignfull .wp-block-ls-slider {
		padding: 0;
	}
}

/*Slider Content*/
.wp-block-ls-slider .wp-block-group {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	flex-shrink: 0;
	height: auto;
	align-self: stretch;
	position: relative;
	transition-property: transform;
	width: 100%;
	padding: 0;
}

.wp-block-ls-slider .wp-block-group__inner-container {
	align-items: center;
	text-align: center;
	padding: 10px;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

.wp-block-ls-slider .wp-block-image.size-full {
	margin: 0;
}

@media (max-width: 1200px) {
	.wp-block-ls-slider .wp-block-group {
		padding: 0;
	}
}

.wp-block-ls-slider .wp-block-ls-card {
	height: 100%;
	margin-bottom: 10px;
}

/*Arrows*/
.wp-block-ls-slider .swiper-button-next,
.wp-block-ls-slider .swiper-button-prev {
	background-color: var(--color-white);
	border: 1px solid var(--color-black);
	border-radius: 100%;
	width: var(--swiper-navigation-size);
}

@media (max-width: 768px) {
	.wp-block-ls-slider .swiper-button-next {
		right: -15px;
	}

	.wp-block-ls-slider .swiper-button-prev {
		left: -15px;
	}
}

@media (max-width: 1024px) {
	.wp-block-ls-slider .swiper-button-next {
		right: -20px;
	}

	.wp-block-ls-slider .swiper-button-prev {
		left: -20px;
	}
}

@media (min-width: 1024px) {
	.wp-block-ls-slider .swiper-button-next {
		right: -50px;
	}

	.wp-block-ls-slider .swiper-button-prev {
		left: -50px;
	}
}

@media (min-width: 1400px) {
	.wp-block-ls-slider .swiper-button-next {
		right: -70px;
	}

	.wp-block-ls-slider .swiper-button-prev {
		left: -70px;
	}
}

.wp-block-ls-slider .swiper-button-next:after,
.wp-block-ls-slider .swiper-button-prev:after {
	font-family: icons, sans-serif;
	font-size: var(--font-size-l);
	color: var(--color-black);
}

.wp-block-ls-slider .swiper-button-next:after {
	content: "\138b";
}

.wp-block-ls-slider .swiper-button-prev:after {
	content: "\138b";
	transform: scaleX(-1);
}

.wp-block-ls-slider .swiper-button-next.swiper-button-disabled,
.wp-block-ls-slider .swiper-button-prev.swiper-button-disabled {
	opacity: 0;
}

.wp-block-ls-slider .swiper-button-prev.ls-hide-arrows,
.wp-block-ls-slider .swiper-button-next.ls-hide-arrows,
.wp-block-ls-slider .swiper-pagination.ls-hide-pagination {
	display: none;
}

/* dots */
.wp-block-ls-slider .swiper-pagination-bullets .swiper-pagination-bullet {
	height: 10px;
	width: 10px;
	background: var(--color-black);
	opacity: 1;
	margin: 10px !important;
}

.wp-block-ls-slider .swiper-pagination-bullet-active {
	background: var(--color-black);
	position: relative;
}

.wp-block-ls-slider .swiper-pagination-bullet-active:after {
	content: "";
	position: absolute;
	height: 20px;
	width: 20px;
	top: -5px;
	left: -5px;
	background: transparent;
	border: 1px solid var(--color-black);
	border-radius: 50%;
}

.wp-block-ls-slider .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.wp-block-ls-slider .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
.wp-block-ls-slider .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
.wp-block-ls-slider .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(0);
}
